/* Carrusel Inicio */

.carousel-control-prev, .carousel-control-next {
    background-color: black !important;
    border-radius: 115px !important;
    height: 50px !important;
    width: 50px !important;
    margin: auto !important;
}
.card {
    width: 400px !important;
    margin: auto !important;
    height: 350px !important;
}
.card img{
    height: 250px;
}

.textos-home h1{
    text-align: center;
}