/* Navbar*/

.navbar-brand, .nav-link{
    color: #fff !important;
}

/* Carrusel Inicio */

.carousel-control-prev, .carousel-control-next {
    background-color: black !important;
    border-radius: 115px !important;
    height: 50px !important;
    width: 50px !important;
    margin: auto !important;
}
.card {
    width: 400px !important;
    margin: auto !important;
    height: 400px !important;
}
.card img{
    height: 250px;
}

.textos-home h1{
    text-align: center;
}

/* Detalles Hotel */

.accordion{
    width: 1000px;
    margin: auto;
}
.row{
    width: 100%;
}

/*Footer  */

.footer {
    background-color: midnightblue;
    padding: 20px;
    text-align: center;
    color: #fff;
  }